.DS_Store
node_modules/
build/
temp/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**output
# package-lock.json

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

output/

.vscode

target/

output/
output_resource/
dist/

**/test/**
